body{
margin:0;
font-family:Arial;
background:#0b1736;
color:white;
}

header{
background:#071126;
padding:20px;
text-align:center;
}

.container{
display:flex;
flex-wrap:wrap;
padding:20px;
gap:20px;
}

.panel{
width:300px;
background:#12224b;
padding:20px;
border-radius:10px;
}

.panel select,
.panel button{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:15px;
}

.map{
flex:1;
background:white;
color:black;
border-radius:10px;
padding:20px;
min-height:600px;
}
