html,
body{
height:100%;
margin:0;
font-family:Arial, sans-serif;
}

#map{
    position:absolute;
    top:80px;
    left:0;
    right:0;
    bottom:0;
}

header{
position:absolute;
z-index:1000;
top:10px;
left:10px;
background:#0b1736;
color:white;
padding:15px 20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,.3);
}
